/* Reset some default browser styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Set a nice background gradient */
body {
  background: linear-gradient(to bottom, #f9f9f9, #e0e0e0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin-left: 10px;
}

/* Style for the main content */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Style for headings */
h1{
  color: #333;
  font-family: 'Playfair Display', serif;
  margin: 30px;
  margin-bottom: -10px;
}

h1 a{
  color: #333;
  font-family: 'Playfair Display', serif;
  margin: 30px;
}

h2 {
  color: #333;
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
  margin-top:25px;
}

/* Style for paragraphs */
p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Apply some color to links */
a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Change link color on hover */
a:hover {
  color: #0056b3;
}

/* Apply a border to images */
img {
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  transition: box-shadow 0.3s ease;
}

/* Create a nice shadow effect on images */
img:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

hr {
  width: 200px; /* Adjust the percentage or other value as needed */
  margin-left: 0px;
}
