/* Reset default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Set a nice background color */
body {
    background-color: #f5f5f5;
    margin-left: 20px
}

/* Style for headings */
h1, h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Style for main heading */
h1#every-single-h1-econs-definition {
    font-size: 28px;
    margin: 20px 0;
}

/* Style for chapter headings */
h2{
    font-size: 24px;
    margin: 10px 0;
    margin-top: 15px
}

/* Style for paragraphs */
p {
    font-family: 'Arial', sans-serif;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Add some spacing between paragraphs */
p + p {
    margin-top: 10px;
}
